/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(0, 0%, 100%);
  --text-color: hsl(38, 8%, 8%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'Space Grotesk', sans-serif;
  --biggest-font-size: 2.375rem;
  --normal-font-size: .938rem;
  --smaller-font-size: .75rem;
}

/* Responsive typography */
@media screen and (min-width: 1024px) {
  :root {
    --biggest-font-size: 5rem;
    --normal-font-size: 1rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: 500;
  color: var(--text-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1024px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.main {
  /* overflow: hidden; For the animations ScrollReveal */
}

/*=============== HEADER & NAV ===============*/
.header {
  position: fixed;
  width: 100%;
  background-color: transparent;
  top: 0;
  left: 0;
  z-index: 100;
}

.header.active {
  position: fixed;
  animation: slideIn 0.5s ease forwards;  
  background-color: #fff;
  box-shadow: 0px 0px 30px 0px hsla(0, 0%, 0%, 0.2);
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo, 
.nav__toggle {
  color: var(--text-color);
  display: inline-flex;
}

.nav__logo {
  font-weight: 700;
  width: 200px;
  height: 50px;
  
}

.nav__toggle {
  font-size: 1.25rem;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    background-color: var(--first-color);
    left: 0;
    top: -100%;
    width: 100%;
    padding: 5rem 0 4rem;
    border-radius: 0 0 1.5rem 1.5rem;
    box-shadow: 0 2px 4px hsla(38, 4%, 15%, .15);
    transition: .4s;
  }
}

.nav__list {
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.nav__link {
  color: var(--text-color);
}

.nav__close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  font-size: 1.5rem;
  color: var(--text-color);
  cursor: pointer;
}

.header .container{
  /* margin-left: 0.5rem;
  margin-right: 0.5rem; */
}

/* Show menu */
.show-menu {
  top: 0;
}

/*=============== HOME ===============*/
.home {
  background-color: var(--first-color);
  padding: 9rem 0 2rem;
  height: 100vh;
  display: grid;
}


.home__container {
  display: grid;
  align-content: center;
  row-gap: 2.5rem;
}

.home__data {
  text-align: center;
}

.home__title {
  font-size: 3rem !important;
  line-height: 55px;
  margin: .75rem 0;
}

.home__button {
  margin-top: 2rem;
  display: inline-block;
  background-color: rgb(255, 85, 0);
  color: #fff;
  padding: .80rem 1.5rem;
  border-radius: 3rem;
  transition: .4s;
}

.social-icons{
  display: flex;
  align-items: center;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 30px;
}

.social-icon{
  width: 30px;
  height: 30px;
}

.social-icon img{
  width: 100%;
  height: 100%;
}


.time-content {
  display: flex;
  column-gap: 30px;
  align-items: center;
}
.time-content .time {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.time .number,
.time .text {
  font-weight: 500;
  color: #000;
}
.time .number {
  font-size: 40px;
}
.time .text {
  text-transform: capitalize;
  font-size: 12px;
}


.home__button:hover {
  box-shadow: 0 4px 12px hsla(38, 69%, 8%, .2);
}

.home__img img {
  width: 230px;
  animation: floaty 1.8s infinite alternate;
}

.home__img {
  justify-self: center;
}

.home__shadow {
  width: 130px;
  height: 24px;
  background-color: hsla(38, 21%, 19%, .16);
  margin: 0 auto;
  border-radius: 50%;
  filter: blur(7px);
  animation: shadow 1.8s infinite alternate;
}


footer{
  position: relative;
  width: 100%;
  height: auto;
  padding: 50px 100px;
  margin-top: 3rem;
  background: #383838;
  display: flex;
  font-family: sans-serif;
  justify-content: space-between;
  margin-top: 7.5rem;

}

.footer-container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}

.footer-container .sec{
  margin-right: 30px;
}

.footer-container .sec.aboutus{
  width: 40%;
}

.footer-container h2{
  position: relative;
  color: #fff;
  margin-bottom: 15px;
}

.footer-container h2::before{
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 2px;
  background-color: rgb(255, 85, 0);
}

footer p{
  color: #fff;
}

.sci{
  margin: 20px;
  display: flex;
}

.sci li{
  list-style: none;
}

.sci li a{
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  text-decoration: none;
  border-radius: 4px;
  transition: .5s;
  color: #fff;
}

.sci li a:hover{  
  background-color: rgb(255, 85, 0);
}

.sci i a .bx{
  color: #fff;
  font-size: 20px;
}

.quicklinks{
  position: relative;
  width: 25%;
}

.quicklinks ul li{
  list-style: none;
}

.quicklinks ul li a{
  color: #999;
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
  transition: .3s;
}

.quicklinks ul li a:hover{
  color: #fff;
}

.footer-container .contactBx{
  width: calc(35% - 60px);
  margin-right: 0 !important;
}

.contactBx .info{
  position: relative;
}

.contactBx .info li{
  display: flex !important;
  margin-bottom: 16px;
}

.contactBx .info li span:nth-child(1){
  color: #fff;
  font-size: 20px;
  margin-right: 10px;
}

.contactBx .info li span{
  color: #999;
}

.contactBx .info li a{
  color: #999;
  text-decoration: none;
  transition: .5s;
}

.contactBx .info li a:hover{
  color: #fff;
}




.create_account{
  background-color: #383838 !important;
}

/* Animate ghost */
@keyframes floaty {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(15px);
  }
}

@keyframes shadow {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(.85, .85);
  }
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
  .home {
    padding-top: 7rem;
  }
}

/* For medium devices */
@media screen and (min-width: 767px) {
  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }
  .nav__toggle, 
  .nav__close {
    display: none;
  }
  .nav__list {
    flex-direction: row;
    column-gap: 3.5rem;
  }

  .home {
    padding-top: 7rem;
  }

  .time-content {
    flex-direction: row;
    align-items: center;
    text-align: center;
  }

  .social-icons{
    flex-direction: row;
    align-items: center;
    text-align: center;
  }
}



/* For large devices */
@media screen and (min-width: 1024px) {
  .home__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 2rem;
  }
  .home__data {
    text-align: initial;
  }
  .home__img img {
    width: 400px;
  }
  .home__shadow {
    width: 250px;
    height: 40px;
  }

  h1{
    font-size: 70px !important;
  }
}

@media screen and (min-width: 1048px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }

  .header .container {
   /* margin-right: 5rem;
   margin-left: 10rem;
   margin: auto; */
  }
}

/* For 2K resolutions (2048 x 1152, 2048 x 1536) */
@media screen and (min-width: 2048px) {
  body {
    zoom: 1.7;
  }

  .home {
    height: initial;
    row-gap: 4rem;
  }
}

/* For 4K resolutions (3840 x 2160, 4096 x 2160) */
@media screen and (min-width: 3840px) {
  body {
    zoom: 3.1;
  }
}

/* For medium devices */
@media screen and  (max-width: 1023px) {
  .time-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
  }

  .social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
    gap: 15px;
  }

  .social-icon{
    width: 19px;
    height: 19px;
  }


  h1{
    font-size: 60px !important;
  }
}

/* Footer Media Query */
@media (max-width: 991px){
  footer{
      padding: 40px;
      font-size: 20px;
  }

  footer .footer-container{
      flex-direction: column;
  }

  footer .footer-container .sec{
      margin-right: 0;
      margin-bottom: 40px;
  }

  footer .footer-container .sec.aboutus{
      width: 100% !important;
  }

  footer .footer-container .quicklinks{
      width: 100%;
  }

  footer .footer-container .contactBx{
      width: 100%;
  }
}